@import 'antd/dist/reset.css';
@import 'country-flag/sprite-flags-24x24.css';
@import 'ql-editor.css';
.recharts-responsive-container-wrapper{
    min-height:500px;
    min-width:500px;
    max-height:500px;
}
